<div class='container'>
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1> <%= form_title %></h1>
            <%= form_for @currency do |f| %>
                <div class='form-group'>
                    <%= f.text_field :name, class: 'form-control input-lg', placeholder:'Name Currency'%>
                </div>
                <div class='form-group'>
                    <%= f.number_field :price_buy, class: 'form-control input-lg', placeholder: 'Price Buy', step: :any %>
                </div>
                <div class='form-group'>
                    <%= f.number_field :price_sale, class: 'form-control input-lg', placeholder: 'Price Sale', step: :any %>
                </div>
                <div class='dropdown'>
                    <button class="btn btn-default dropdown-toggle" type="button" id="flag-countries" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Country <span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="flag-countries">
                        <li><span class="flag-icon flag-icon-by"></li>
                    </ul>
                        
                </div><br />
                <div class='form-check'>
                    <p>Disponible?</p>
                    <%= f.radio_button :available, class: 'form-check-input', :checked => true %>
                    <label class="form-check-label", for="available"> Sí </label> <br>
                    <%= f.radio_button :available, class: 'form-check-input', :checked => false %>
                    <label class="form-check-label", for="available"> No </label> <br>
                </div>
                <div>
                <br>
                <%= f.submit form_title, class: 'btn btn-primary btn-lg btn-block'%> 
                </div>
            <% end %>
        </div>
    </div>
</div>